= simple_form_for @article do |form|
  .form-group
    = form.input :title

  .form-group
    = form.association :category
  .form-group
    = form.input :text

  = form.submit class: 'btn btn-primary'
