tr
  td= article.title
  td= article.text

  - if article.category.present?
    td= link_to article.category.name, article.category
  - else
    td= "-"
  td= link_to 'Show', article_path(article)
  td= link_to 'Edit', edit_article_path(article)
  td= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }
