tr
  td= category.name
  td= link_to 'Show', category_path(category), class: 'btn btn-info'
  td= link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
  td= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
