RAILS_ENV={{ rails_env }}
RACK_ENV={{ rack_env }}
PORT={{ app_port }}
RAILS_LOG_TO_STDOUT={{ rails_log_to_stdout }}
DATABASE_HOST={{ database_host }}
DATABASE_USERNAME={{ database_username }}
DATABASE_NAME={{ database_name }}
SECRET_KEY_BASE={{ secret_key_base }}
GITHUB_APP_ID={{ github_app_id }}
GITHUB_APP_SECRET={{ github_app_secret }}
