nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to t('title'), home_path, class: 'navbar-brand'

  button.navbar-toggler data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        = link_to 'Blog', articles_path, class:(['nav-link', current_page?(articles_path) && 'active'])
    ul.navbar-nav.ml-auto
      - if current_user.guest?
        = link_to 'Sign In', new_user_session_path, class: 'nav-link'
      - else
        = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'
