doctype html
html.h-100 lang="#{I18n.locale}"
  meta charset="utf-8"
  meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
  meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  title = t('title')
  = favicon_link_tag
  = csrf_meta_tags
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"

body.container
  = render 'layouts/nav'
  = render_flash_messages dismissible: true
  .row
    .col-md-3
      = render 'shared/menu'
    .col-md-9
      = yield
